.container {
  color: #f1f4ff;
}
.heading {
  font-family: 'Montserrat', sans-serif;
}

.event-card {
  min-height: 550px;
  margin: 5px;
  padding: 10px;
  /* background-color: #031C61; */
  /* border-radius: 5px; */
}

.event-description {
  min-height: 65px;
  margin: 5px;
}

.event-description .event-date {
  font-family: 'Montserrat', sans-serif;
}

.event-date {
  display: block;
}

.main {
  box-shadow: 2px 3px 5px 0px #000;
}

.poster {
  width: 100%;
}