.links {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0px;
  font-family: 'Montserrat', sans-serif;
  color: #f1f4ff;
}

.nav {
  padding: 5px;
  padding-top: 10px;
  font-size: 1.4em;
  border: transparent;
  background: transparent;
  transition: .3s ease-out;
  border-bottom: 2px solid #02164C;
}
.nav:hover {
  cursor: pointer;
  color: #F10766;
  border-bottom: 2px solid #F10766;
  animation: switching 0.75s ease-in-out infinite alternate;
}
.nav:focus,
.home:focus {
  outline: none;
  cursor: default;
  color: #F10766;
}

.home {
  padding-top: 5px;
  /*transition: .3s ease-out;*/
}
.home:hover {
  cursor: pointer;
  /*background-color: #021A59;*/
}
.homeLogo {
  width: 75%;
}

@keyframes switching {
  0% {
    border-color: #F10766;
  }
  100% {
    border-color: #ffd877;
  }
}
