body {
  background-color: #02164C;
}
img {
  width: 100%;
}
hr {
  transition: .3s ease-out;
}

.orange {
  border-color: #F10766;
}
.yellow {
  border-color: #ffd877;
}
.blue {
  border-color: #02164C;
}


.date {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
}
.name {
  font-family: 'Timmana', sans-serif;
  font-size: 1.8em;
}
