.event-preview {
    background-color: rgba(2, 22, 76, 0.75);
    color: #f1f4ff;
    .event-card {
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .delete {
        margin: 0 auto;
        text-align: center;
        width: 180px;
        border-radius: 5px;
        transition: .2s ease-in-out;
        margin-bottom: 15px;
        color: #ee3017;
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
        &:hover {
            color: #f1f4ff;
            background-color: #ee3017;
            cursor: pointer;
        }
    }
}
