@import '_Globals';

.logo {
    width: 72%;
}

h2,
h3 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.mail {
    background-color: #356CA7;
}

.well {
    background-color: $blue;
    transition: .3s ease-out;
}

.well:hover {
    background: transparent;
}

a {
    text-decoration: none;
}
